@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* สร้าง CSS class สำหรับการใช้งานฟอนต์ Source Code Pro */

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  /* ปรับตามความต้องการ */
  font-style: normal;
  /* ปรับตามความต้องการ */
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans sc-regular {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* สร้าง CSS class สำหรับการใช้งานฟอนต์ Source Code Pro */

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  /* ปรับเป็นค่าที่คุณต้องการ */
  font-style: normal;
}

#wallpaper {
  position: fixed;
  z-index: -1;
  width: 100vw;
  /* กำหนดความกว้างให้เท่ากับความกว้างของ viewport */
  height: 100vh;
  /* กำหนดความสูงให้เท่ากับความสูงของ viewport */
  top: 0;
  left: 0;
}

/* ส่วนที่เหลือของ CSS ให้คงไว้เหมือนเดิม */

#wallpaper img {
  width: 100%;
  height: 100%;
}

#Loadlogo {
  position: fixed;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#Loadlogo img {
  width: 120%;
  height: auto;
}

body {
  overflow: hidden;
}

#Clouds img {
  width: 100%;
  height: 100%;
}

#Wait {
  position: fixed;
  left: 51%;
  bottom: 12%;
  transform: translateX(-50%);
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #573500;
}

.loading-tube-horizontal {
  position: absolute;
  top: 85%;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 70%;
  /* ปรับขนาดของหลอดตามต้องการ */
  height: 37px;
  /* ปรับขนาดของหลอดตามต้องการ */
  border: 4px solid #776100;
  /* สีของกรอบหลอด */
  border-radius: 25px;
  /* ความโค้งของขอบหลอด */
  overflow: hidden;
}

.liquid-horizontal {
  width: 90%;
  height: 100%;
  background-color: #776100;
  /* สีของของเหลวภายในหลอด */
  animation: fill-horizontal 8s infinite;
  /* ความเร็วในการเติมเหลวภายในหลอด */
}

@keyframes fill-horizontal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
